.pc-title {
    background: rgba(177, 175, 175, 0.8);
    color: white;
    width: 50%;
    padding: 1.5em;
    margin-top: 1em;
    /* TODO align this item in the middle */
}
@media only screen and (max-width: 768px) {
    .pc-title {
        width: 100%;
        text-align: center;
    }
}
/* Media query for devices upto 414px screens */
@media only screen and (max-width: 414px) {
    .pc-title {
        width: 100%;
        text-align: center;
    }
}
/* Media query for devices upto 376px screens */
@media only screen and (max-width: 376px) {
    .pc-title {
        width: 100%;
        text-align: center;
    }  
}
/* Media query for devices upto 320px screens */
@media only screen and (max-width: 320px) {
    .pc-title {
        width: 100%;
        text-align: center;
    }
}