.heroSection {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.mainSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
}
.bannerSection img {
    width: 100%;
    height: 16em;
}
.bannerSection {
    width: 100%;
    position: relative;
}
.motivation {
    position: absolute;
    background: rgb(231, 231, 233); 
    background: rgba(231, 231, 233, 0.8);
    width: 75%;
    top: 3.4em;
    padding: 3em;
}
.bannerDescription {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.imageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25em;
}
.imageContainer img {
    width: 100%;
}
.imageContainer h2 {
    font-weight: bold;
    font-size: 2.8rem;
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
}
.imageContainer .content {
    position: absolute;
    bottom: 1em;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: 100%;
    padding: 3em;
}
.getQuoteSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    width: 60%;
}
.getQuoteSection p {
    color: #048E86;
}
.weFocus {
    text-align: center;
    font-size: 0.8rem;
}
.devTeam {
    font-size: 0.9rem;
}
.getQuoteSection a {
    margin-top: 6em;
    height: 1.9em;
    width: 10em;
    text-align: center;
    border-radius: 1.6em;
    border: none;
    background-color: #1E06B2;
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
    box-shadow: 
    12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
}
.getQuoteSection a:focus {
    outline: none !important;
}