.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.8em; 
  background-color: white;
}
.nav-link {
  color: black!important;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
.active {
  background-color: #1E06B2!important;
  color: white!important;
  font-weight: 'bold'!important;
}
.navbar-brand:hover {
  background-color:  #1E06B2;
}
.companyLogo {
  width: 4em;
  height: 1.6em;
}