.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.8em; 
  background-color: white;
}
.nav-link {
  color: black!important;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
.navbar-brand:hover {
  background-color: gold;
}
.companyLogo {
  width: 4em;
  height: 1.8em;
}