.getQuoteContainer {
    width: 100%;
    margin-top: 7em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.detailSection {
    padding: 1em;
    width: 40%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}
.formSection {    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}
.submitBtn {
    background-color: blue;
    padding: 0.2em 4.6em;
    border-radius: 2em;
    font-weight: bold;
}