.getQuoteSection {
    margin-top: 7em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 4em;
}
.detailSection {
    width: 50%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}
.formSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.submitBtn {
    background-color: blue;
    padding: 0.2em 4.6em;
    border-radius: 2em;
    font-weight: bold;
}