.caseStudyTitle {
    background: rgba(97, 96, 96, 0.8);
    color: white;
    width: 50%;
    padding: 1.5em;
    margin-top: 1em;
}
.projectSection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2em;
}
.projectCard {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20em;
    height: 24em;
    margin: 4em 0 1em 1em;
    background-color: white;    
    cursor: pointer;
    /* border-radius: 1em; */
}
.projDescriptionSection {
    padding: 1.3em;
    text-align:justify;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column; 
    background: rgba(97, 96, 96, 0.8);
    color: white;
    text-align: center;
    width: 100%;
}
.projectDescription {
    width: 18em;
    font-size: 0.8rem;
}
.showDescription  {
    text-decoration: none!important;
    font-size: 0.8rem;
    color: white;
}
.showDescription:hover {
    color: blue;
}
.projImageSection {
    position: relative;
}
.projectImage {
    width: 20em;
    height: 24em;
    margin-bottom: 2em;
}

/* Media query for devices upto 768px screens */
@media only screen and (max-width: 768px) {
    .caseStudyTitle {
        width: 100%;
        text-align: center;
    }  
    .projectCard {
        margin: 1em 0 1em 0;
    } 
}
/* Media query for devices upto 414px screens */
@media only screen and (max-width: 414px) {
    .caseStudyTitle {
        width: 100%;
        text-align: center;
    }  
    .projectCard {
        margin: 1em 0 1em 0;
    } 
}
/* Media query for devices upto 376px screens */
@media only screen and (max-width: 376px) {
    .caseStudyTitle {
        width: 100%;
        text-align: center;
    }  
    .projectCard {
        margin: 1em 0 1em 0;
    } 
}
/* Media query for devices upto 320px screens */
@media only screen and (max-width: 320px) {
    .caseStudyTitle {
        width: 100%;
        text-align: center;
    }  
    .projectCard {
        width: 18em;
        height: 25em;
        margin: 1em 0 1em 0;
    } 
    .projectImage {
        width: 18em;
        height: 25em;
    } 
}




