.caseStudyTitle {
    background: rgb(246, 246, 248); 
    background: rgba(207, 207, 209, 0.8);
    width: 50%;
    padding: 1.5em;
    font-size: 1.5rem;
    font-weight: bold;
}
.projectSection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5em;
}
.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20em;
    margin: 4em 0 1em 1em;
    background-color: white;
    border-radius: 1em;
    box-shadow: 
    12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
}
.projectImage {
    width: 100%;
    height: 12em;
    margin-bottom: 2em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom: 0.1px solid rgb(224, 224, 224);
}
.projectTitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: blue;
}
.showDescription  {
    text-decoration: none!important;
    margin-top: 1em;
    font-size: 0.8rem;
    color: black;
}
.showDescription:hover {
    color: blue;
}
.projectDescription {
    padding: 1em;
}
