/* styles for footer main section */
.footerSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.5em;
    width: 100%;
    text-align: center;
    background: black;
    color: white;
}
.footerAboutUs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 12em;
    line-height: 2em;
}
.footerHeader {
    margin-bottom: 0.8em;
    font-size: 1.4rem;
    font-weight: 650;
}
.footerLinks {
    text-decoration: none;
    color: white;
    font-weight: 400;
}
.footerLinks:hover {
    text-decoration: none;
    color: rgb(190, 188, 188);
    font-weight: bold;
    cursor: pointer;
}
.socialMeadia {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.socialMeadiaLinks {
    display: flex;
    flex-wrap: wrap;
    padding: 0.4em 0.2em 0.4em 0.2em;
    border-radius: 1em;
}
.socialMediaIcon {
    color: black;
    background: white; 
    padding: 0.3em;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    margin-right: 0.6em;
}
.socialMediaIcon:hover {
    color: white;
    background: black;    
}
.footerServices {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    font-weight: 400;
}
.copyRightSection {
    padding: 0.5em 2em 0.5em 2em;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    background-color: white;
}
/* Media queries for small devices with 540px width */
@media only screen and (max-width: 540px) {
    .socialMeadia {
        margin-top: 1em;
        margin-right: auto;
        margin-left: 1.5em;
    }
    .socialMeadiaLinks {
        padding: 0;
    }
}
/* Media queries for small devices with 414px width */
@media only screen and (max-width: 414px) {
    .footerSection {
        padding: 4em;
        justify-content: center;
    }
    .socialMeadia {
        padding-top: 1em;
        margin: 0 auto;
        width: 12em;
    }
}
/* Media queries for small devices with 376px width */
@media only screen and (max-width: 376px) {
    .footerSection {
        padding: 2em;
    }
    .socialMeadia {
        padding-top: 1em;
        margin: 0 auto;
        width: 12em;
    }
    .socialMeadiaLinks {
        padding: 0;
    }
}
/* Media queries for small devices with 320px width */
@media only screen and (max-width: 320px) {
    .footerSection {
        padding: 2em;
    }
    .footerAboutUs {
        margin-top: 1em;
    }
    .footerServices {
        margin-top: 1em;
    }
    .socialMeadia {
        padding-top: 1em;
        margin: 0 auto;
        width: 12em;
    }
    .socialMeadiaLinks {
        padding: 0;
    }
}